body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  li {
    list-style-type: none;
  }
  
  footer {
    color: black;
    padding: 20px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    min-height: 100vh;
  }
  
  /* .about-us {
      text-align: left;
      max-width: 600px;
      margin-bottom: 20px;
  }
  
  .footer-links {
      padding: 0;
      margin-top: 20px;
      display: flex;
      justify-content: center;
  }
  
  .footer-links div {
      margin: 0 10px;
      color: #fff;
  } */
  footer .container {
    width: 1230px;
    margin: 6.25rem auto;
  }
  
  footer .container .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  footer .container .below {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer .container .below .right ul {
    display: flex;
  }
  
  
  footer .container .below .right ul li {
    padding: 8px 10px;
    border-right: 1px solid green;
  }
  footer .container .below .right ul li:first-child {
    padding-left: 0;
  }
  footer .container .below .right ul li:last-child {
    padding-right: 0;
    border: none;
  }

  footer .container .about-us {
    margin-block: 10px;
    justify-content: space-evenly;
  }


  /* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
    footer .container {
        width: 100%;
        padding: 0 20px;
    }

    footer .container .grid {
        grid-template-columns: 1fr;
    }

    footer .container .below {
        flex-direction: column;
        text-align: center;
    }

    footer .container .below .right ul {
        flex-direction: column;
    }

    footer .container .below .right ul li {
        border: none;
        padding: 10px 0;
    }
}